.menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 5rem;
}

.menu nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 25px 0;
}

.menu nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.menu nav li {
  margin: 0 0 0 25px;
}

.logo {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 1.6em;
}

.menu nav a {
  position: relative;
}

.menu nav a:hover:before {
  content: '👉 ';
  position: absolute;
  left: -20px;
  top: -1px;
}

@media screen and (max-width: 550px) {
  .menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
  }

  .menu nav {
    margin: 0;
  }

  .menu nav ul {
    flex-wrap: wrap;
  }

  .menu nav li {
    margin: 10px 20px;
  }
}
