.container {
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--background-color);
  z-index: 2;
  transition: all 0.1s ease-in-out;
}

.hero {
  min-height: 100vh;
  padding: 4rem 3rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  font-family: 'Playfair Display', serif;
  font-size: 5em;
  font-weight: 800;
  max-width: 1000px;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 2rem 0 0;
  font-size: 1.1em;
}

.menu a {
  position: relative;
}

.menu a:hover:before {
  content: '👉 ';
  position: absolute;
  left: -22px;
  top: -1px;
}

.section {
  color: var(--background-color);
  background: var(--color);
  padding: 4rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.section:nth-child(2n) {
  color: var(--color);
  background: var(--background-color);
}

.section > div {
  width: 40%;
}

.section h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5em;
  max-width: 800px;
  font-weight: 800;
  margin-bottom: 3rem;
}

.section p {
  max-width: 800px;
}

.svgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions {
  margin: 3rem 0;
}

.action {
  font-family: 'Playfair Display', serif;
  font-size: 1.1em;
  text-decoration: underline;
  font-weight: 700;
  position: relative;
}

.action:hover:before {
  content: '👉 ';
  position: absolute;
  left: -22px;
  top: 2px;
}

@media screen and (max-width: 1080px) {
  .title {
    font-size: 4rem;
  }
}

@media screen and (max-width: 850px) {
  .section {
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;
  }

  .section > div {
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .title {
    font-size: 3.5rem;
  }

  .menu {
    flex-wrap: wrap;
  }

  .menu li {
    margin: 1rem;
    font-size: 1.1em;
  }
}

@media screen and (max-width: 550px) {
  .header {
    padding: 1rem;
  }

  .title {
    font-size: 3rem;
    font-weight: 700;
  }

  .hero {
    padding: 4rem 1rem;
  }
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 2rem;
    font-weight: 600;
  }
}
