:root {
  --color: #222;
  --background-color: white;
  --accent-background-color: rgb(230, 230, 230);
  --accent-color: #444;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: white;
    --background-color: black;
    --accent-background-color: #222;
    --accent-color: rgb(230, 230, 230);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility !important;
  letter-spacing: 0.2px;
  color-scheme: light dark;

  color: var(--color);
  background: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

a.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  color: var(--background-color);
  background: var(--color);
  border-radius: 3px;
}

a.button.inverse {
  color: var(--color);
  background: var(--background-color);
}

* {
  box-sizing: border-box;
}
